body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  background-color: #000;
}

.App {
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border-radius: 15px;
}

@media (min-width: 500px) {
  .App {
    background-color: #1f1f1f;
    padding: 1rem;
  }
}

.row {
  display: block;
  width: 100%;
  text-align: center;
}

output {
  font-size: 3rem;
  margin: 1rem;
}

output.right {
  float: right;
}

img {
  width: 75px;
  padding: .25rem;
  border-radius: 50px;
  transition: all 0.5s ease;
}

img:hover {
  background-color: #FFF;
}

img:active {
  transition: 0s;
  background-color: red;
}

.zero {
  width: 158px !important;
}

.all-clear {
  width: 240px !important;
}

/* @media (max-width: 450px) {
  .App {
    border: none;
  }
} */

/* @media (max-width: 700px) {
  output {
    padding-right: 1rem;
  }
} */